parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$is_approved\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$permission_level\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Cannot call method label\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/User.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 5
			path: app/Models/UserGroup.php

		-
			message: '#^Using nullsafe method call on non\-nullable type App\\Enums\\PermissionLevel\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 5
			path: app/Models/UserGroup.php
